absl-py==0.13.0
astunparse==1.6.3
-e git+https://github.com/openai/baselines.git@ea25b9e8b234e6ee1bca43083f8f3cf974143998#egg=baselines
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
clang==5.0
click==8.0.1
cloudpickle==1.2.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.39.0
gym==0.10.5
h5py==3.1.0
idna==3.2
joblib==1.0.1
keras==2.6.0
Keras-Preprocessing==1.1.2
Markdown==3.3.4
-e git+https://github.com/openai/multiagent-particle-envs.git@69ee7f85811c77ee651722bc3c332677b2195da1#egg=multiagent
numpy==1.19.5
numpy-stl==2.16.0
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
pandas==1.3.2
Pillow==8.3.1
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.0
python-dateutil==2.8.2
python-utils==2.5.6
pytz==2021.1
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.7.1
six==1.15.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
torch==1.9.0+cpu
torch-tb-profiler==0.2.1
torchaudio==0.9.0
torchvision==0.10.0+cpu
tqdm==4.62.2
typing-extensions==3.7.4.3
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
